/* src/components/PlayerToken.css */
.player-token {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  cursor: move;
  margin: 2px;
}

.player-token.waterCarrier {
  background-color: blue;
}
.player-token.meteorologist {
  background-color: red;
}
.player-token.climber {
  background-color: black;
}
.player-token.archeologist {
  background-color: brown;
}
.player-token.navigator {
  background-color: orange;
}
.player-token.explorer {
  background-color: green;
}

/* Add more player types as needed */
