/* src/components/PlayerToken.css */
.player-token {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  cursor: move;
  margin: 2px;
  border: 2px solid #F4A460; /* Added sand-colored border */
}

.player-token.waterCarrier {
  background-color: darkblue;
  color:lightblue;
}
.player-token.meteorologist {
  background-color: firebrick;
  color:gold;
}
.player-token.climber {
  background-color: black;
  color:yellow;
}
.player-token.archeologist {
  background-color: blueviolet;
  color: cornsilk;
}
.player-token.navigator {
  background-color: greenyellow;
  color: seagreen;
}
.player-token.explorer {
  background-color: seagreen;
  color:greenyellow;
}

/* Add more player types as needed */
